#ignore these directories
app/code/community/*
!app/code/community/Ultimate
!app/code/community/VES
app/code/core/Mage/*
!app/code/core/Mage/Admin
!app/code/core/Mage/Adminhtml
app/code/core/Zend
app/code/local/*
!app/code/local/BS
app/design/frontend
app/design/install
app/etc
app/locale
app/.htaccess
app/Mage.php
automysqlbackup
backup iframe
cgi-bin
downloader
errors
freichat
importance
includes
js
learning
lib
media
!media/formtemplate
pkginfo
project
shared
shell
skin
var
zohoverify
.DS_Store
.htaccess
api.php
cookie.txt
cron.php
cron.sh
favicon.ico
get.php
index.php
index.php.sample
info.php
install.php
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
mage
php.ini.sample
phpmyadmin.conf
RELEASE_NOTES.txt
sources.list