<?xml version="1.0"?>
<!--
/**
 * BS_Logistics extension
 * 
 * @category       BS
 * @package        BS_Logistics
 * @copyright      Copyright (c) 2015
 */
-->
<config>
    <modules>
        <BS_Logistics>
            <version>1.0.3</version>
        </BS_Logistics>
    </modules>
    <global>
        <resources>
            <bs_logistics_setup>
                <setup>
                    <module>BS_Logistics</module>
                    <class>BS_Logistics_Model_Resource_Setup</class>
                </setup>
            </bs_logistics_setup>
        </resources>
        <blocks>
            <bs_logistics>
                <class>BS_Logistics_Block</class>
            </bs_logistics>
        </blocks>
        <helpers>
            <bs_logistics>
                <class>BS_Logistics_Helper</class>
            </bs_logistics>
        </helpers>
        <models>
            <bs_logistics>
                <class>BS_Logistics_Model</class>
                <resourceModel>bs_logistics_resource</resourceModel>
            </bs_logistics>
            <bs_logistics_resource>
                <class>BS_Logistics_Model_Resource</class>
                <entities>
                    <classroom>
                        <table>bs_logistics_classroom</table>
                    </classroom>
                    <workshop>
                        <table>bs_logistics_workshop</table>
                    </workshop>
                    <otherroom>
                        <table>bs_logistics_otherroom</table>
                    </otherroom>
                    <equipment>
                        <table>bs_logistics_equipment</table>
                    </equipment>
                    <filecabinet>
                        <table>bs_logistics_filecabinet</table>
                    </filecabinet>
                    <filefolder>
                        <table>bs_logistics_filefolder</table>
                    </filefolder>
                    <foldercontent>
                        <table>bs_logistics_foldercontent</table>
                    </foldercontent>
                    <classroom_product>
                        <table>bs_logistics_classroom_product</table>
                    </classroom_product>
                    <workshop_product>
                        <table>bs_logistics_workshop_product</table>
                    </workshop_product>
                    <filefolder_product>
                        <table>bs_logistics_filefolder_product</table>
                    </filefolder_product>
                    <!--<wgroup>
                        <table>bs_logistics_wgroup</table>
                    </wgroup>-->
                    <wgroupitem>
                        <table>bs_logistics_wgroupitem</table>
                    </wgroupitem>
                    <wtool>
                        <table>bs_logistics_wtool</table>
                    </wtool>
                    <grouptype>
                        <table>bs_logistics_grouptype</table>
                    </grouptype>
                </entities>
            </bs_logistics_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <bs_logistics>
                    <file>bs_logistics.xml</file>
                </bs_logistics>
            </updates>
        </layout>
        <translate>
            <modules>
                <BS_Logistics>
                    <files>
                        <default>BS_Logistics.csv</default>
                    </files>
                </BS_Logistics>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <bs_logistics_classroom_product>
                        <type>singleton</type>
                        <class>bs_logistics/adminhtml_observer</class>
                        <method>addProductClassroomBlock</method>
                    </bs_logistics_classroom_product>
                    <bs_logistics_workshop_product>
                        <type>singleton</type>
                        <class>bs_logistics/adminhtml_observer</class>
                        <method>addProductWorkshopBlock</method>
                    </bs_logistics_workshop_product>
                    <bs_logistics_filefolder_product>
                        <type>singleton</type>
                        <class>bs_logistics/adminhtml_observer</class>
                        <method>addProductFilefolderBlock</method>
                    </bs_logistics_filefolder_product>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <catalog_product_save_after>
                <observers>
                    <bs_logistics_classroom_product>
                        <type>singleton</type>
                        <class>bs_logistics/adminhtml_observer</class>
                        <method>saveProductClassroomData</method>
                    </bs_logistics_classroom_product>
                    <bs_logistics_workshop_product>
                        <type>singleton</type>
                        <class>bs_logistics/adminhtml_observer</class>
                        <method>saveProductWorkshopData</method>
                    </bs_logistics_workshop_product>
                    <bs_logistics_filefolder_product>
                        <type>singleton</type>
                        <class>bs_logistics/adminhtml_observer</class>
                        <method>saveProductFilefolderData</method>
                    </bs_logistics_filefolder_product>
                </observers>
            </catalog_product_save_after>
        </events>
        <!--<global_search>
            <classroom>
                <class>bs_logistics/adminhtml_search_classroom</class>
                <acl>bs_logistics</acl>
            </classroom>
            <workshop>
                <class>bs_logistics/adminhtml_search_workshop</class>
                <acl>bs_logistics</acl>
            </workshop>
            <otherroom>
                <class>bs_logistics/adminhtml_search_otherroom</class>
                <acl>bs_logistics</acl>
            </otherroom>
            <equipment>
                <class>bs_logistics/adminhtml_search_equipment</class>
                <acl>bs_logistics</acl>
            </equipment>
            <filecabinet>
                <class>bs_logistics/adminhtml_search_filecabinet</class>
                <acl>bs_logistics</acl>
            </filecabinet>
            <filefolder>
                <class>bs_logistics/adminhtml_search_filefolder</class>
                <acl>bs_logistics</acl>
            </filefolder>
            <foldercontent>
                <class>bs_logistics/adminhtml_search_foldercontent</class>
                <acl>bs_logistics</acl>
            </foldercontent>
             <wgroup>
                <class>bs_logistics/adminhtml_search_wgroup</class>
                <acl>bs_logistics</acl>
            </wgroup>
            <wgroupitem>
                <class>bs_logistics/adminhtml_search_wgroupitem</class>
                <acl>bs_logistics</acl>
            </wgroupitem>
            <wtool>
                <class>bs_logistics/adminhtml_search_wtool</class>
                <acl>bs_logistics</acl>
            </wtool>


        </global_search>-->
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BS_Logistics before="Mage_Adminhtml">BS_Logistics_Adminhtml</BS_Logistics>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
