<?xml version="1.0"?>
<!--
/**
 * BS_Instructor extension
 * 
 * @category       BS
 * @package        BS_Instructor
 * @copyright      Copyright (c) 2015
 */
-->
<config>
    <modules>
        <BS_Instructor>
            <version>1.0.4</version>
        </BS_Instructor>
    </modules>
    <global>
        <resources>
            <bs_instructor_setup>
                <setup>
                    <module>BS_Instructor</module>
                    <class>BS_Instructor_Model_Resource_Setup</class>
                </setup>
            </bs_instructor_setup>
        </resources>
        <blocks>
            <bs_instructor>
                <class>BS_Instructor_Block</class>
            </bs_instructor>
        </blocks>
        <helpers>
            <bs_instructor>
                <class>BS_Instructor_Helper</class>
            </bs_instructor>
        </helpers>
        <models>
            <bs_instructor>
                <class>BS_Instructor_Model</class>
                <resourceModel>bs_instructor_resource</resourceModel>
            </bs_instructor>
            <bs_instructor_resource>
                <class>BS_Instructor_Model_Resource</class>
                <entities>
                    <instructor>
                        <table>bs_instructor_instructor</table>
                    </instructor>
                    <instructor_product>
                        <table>bs_instructor_instructor_product</table>
                    </instructor_product>
                    <instructor_category>
                        <table>bs_instructor_instructor_category</table>
                    </instructor_category>
                    <eav_attribute>
                        <table>bs_instructor_eav_attribute</table>
                    </eav_attribute>
                    <instructor_curriculum>
                        <table>bs_instructor_instructor_curriculum</table>
                    </instructor_curriculum>
                    <instructorfunction>
                        <table>bs_instructor_instructorfunction</table>
                    </instructorfunction>
                </entities>
            </bs_instructor_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <bs_instructor>
                    <file>bs_instructor.xml</file>
                </bs_instructor>
            </updates>
        </layout>
        <translate>
            <modules>
                <BS_Instructor>
                    <files>
                        <default>BS_Instructor.csv</default>
                    </files>
                </BS_Instructor>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <bs_instructor_instructor_product>
                        <type>singleton</type>
                        <class>bs_instructor/adminhtml_observer</class>
                        <method>addProductInstructorBlock</method>
                    </bs_instructor_instructor_product>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <!--<adminhtml_catalog_category_tabs>
                <observers>
                    <bs_instructor_instructor_category>
                        <type>singleton</type>
                        <class>bs_instructor/adminhtml_observer</class>
                        <method>addCategoryInstructorBlock</method>
                    </bs_instructor_instructor_category>
                </observers>
            </adminhtml_catalog_category_tabs>-->
            <catalog_product_save_after>
                <observers>
                    <bs_instructor_instructor_product>
                        <type>singleton</type>
                        <class>bs_instructor/adminhtml_observer</class>
                        <method>saveProductInstructorData</method>
                    </bs_instructor_instructor_product>
                </observers>
            </catalog_product_save_after>
            <!--<catalog_category_save_after>
                <observers>
                    <bs_instructor_instructor_category>
                        <type>singleton</type>
                        <class>bs_instructor/adminhtml_observer</class>
                        <method>saveCategoryInstructorData</method>
                    </bs_instructor_instructor_category>
                </observers>
            </catalog_category_save_after>-->
            <bs_traininglist_curriculum_save_after>
                <observers>
                    <bs_instructor_instructor_curriculum>
                        <type>singleton</type>
                        <class>bs_instructor/adminhtml_observer</class>
                        <method>saveCurriculumInstructorData</method>
                    </bs_instructor_instructor_curriculum>
                </observers>
            </bs_traininglist_curriculum_save_after>
        </events>
        <global_search>
            <instructor>
                <class>bs_instructor/adminhtml_search_instructor</class>
                <acl>bs_instructor</acl>
            </instructor>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BS_Instructor before="Mage_Adminhtml">BS_Instructor_Adminhtml</BS_Instructor>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
