<?xml version="1.0"?>
<!--
/**
 * BS_Traininglist extension
 * 
 * @category       BS
 * @package        BS_Traininglist
 * @copyright      Copyright (c) 2015
 */
-->
<config>
    <modules>
        <BS_Traininglist>
            <version>1.0.1</version>
        </BS_Traininglist>
    </modules>
    <global>
        <resources>
            <bs_traininglist_setup>
                <setup>
                    <module>BS_Traininglist</module>
                    <class>BS_Traininglist_Model_Resource_Setup</class>
                </setup>
            </bs_traininglist_setup>
        </resources>
        <blocks>
            <bs_traininglist>
                <class>BS_Traininglist_Block</class>
            </bs_traininglist>
        </blocks>
        <helpers>
            <bs_traininglist>
                <class>BS_Traininglist_Helper</class>
            </bs_traininglist>
        </helpers>
        <models>
            <bs_traininglist>
                <class>BS_Traininglist_Model</class>
                <resourceModel>bs_traininglist_resource</resourceModel>
            </bs_traininglist>
            <bs_traininglist_resource>
                <class>BS_Traininglist_Model_Resource</class>
                <entities>
                    <curriculum>
                        <table>bs_traininglist_curriculum</table>
                    </curriculum>
                    <curriculum_product>
                        <table>bs_traininglist_curriculum_product</table>
                    </curriculum_product>
                    <curriculum_category>
                        <table>bs_traininglist_curriculum_category</table>
                    </curriculum_category>
                    <eav_attribute>
                        <table>bs_traininglist_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </bs_traininglist_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <bs_traininglist>
                    <file>bs_traininglist.xml</file>
                </bs_traininglist>
            </updates>
        </layout>
        <translate>
            <modules>
                <BS_Traininglist>
                    <files>
                        <default>BS_Traininglist.csv</default>
                    </files>
                </BS_Traininglist>
            </modules>
        </translate>
        <events>
            <!--<core_block_abstract_prepare_layout_after>
                <observers>
                    <bs_traininglist_curriculum_product>
                        <type>singleton</type>
                        <class>bs_traininglist/adminhtml_observer</class>
                        <method>addProductCurriculumBlock</method>
                    </bs_traininglist_curriculum_product>
                </observers>
            </core_block_abstract_prepare_layout_after>-->
            <adminhtml_catalog_category_tabs>
                <observers>
                    <bs_traininglist_curriculum_category>
                        <type>singleton</type>
                        <class>bs_traininglist/adminhtml_observer</class>
                        <method>addCategoryCurriculumBlock</method>
                    </bs_traininglist_curriculum_category>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_product_save_after>
                <observers>
                    <bs_traininglist_curriculum_product>
                        <type>singleton</type>
                        <class>bs_traininglist/adminhtml_observer</class>
                        <method>saveProductCurriculumData</method>
                    </bs_traininglist_curriculum_product>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <bs_traininglist_curriculum_category>
                        <type>singleton</type>
                        <class>bs_traininglist/adminhtml_observer</class>
                        <method>saveCategoryCurriculumData</method>
                    </bs_traininglist_curriculum_category>
                </observers>
            </catalog_category_save_after>
        </events>
        <global_search>
            <curriculum>
                <class>bs_traininglist/adminhtml_search_curriculum</class>
                <acl>bs_traininglist</acl>
            </curriculum>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BS_Traininglist before="Mage_Adminhtml">BS_Traininglist_Adminhtml</BS_Traininglist>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
