<?xml version="1.0"?>
<!--
/**
 * BS_Car extension
 * 
 * @category       BS
 * @package        BS_Car
 * @copyright      Copyright (c) 2016
 */
-->
<config>
    <modules>
        <BS_Car>
            <version>1.0.1</version>
        </BS_Car>
    </modules>
    <global>
        <resources>
            <bs_car_setup>
                <setup>
                    <module>BS_Car</module>
                    <class>BS_Car_Model_Resource_Setup</class>
                </setup>
            </bs_car_setup>
        </resources>
        <blocks>
            <bs_car>
                <class>BS_Car_Block</class>
            </bs_car>
        </blocks>
        <helpers>
            <bs_car>
                <class>BS_Car_Helper</class>
            </bs_car>
        </helpers>
        <models>
            <bs_car>
                <class>BS_Car_Model</class>
                <resourceModel>bs_car_resource</resourceModel>
            </bs_car>
            <bs_car_resource>
                <class>BS_Car_Model_Resource</class>
                <entities>
                    <qacar>
                        <table>bs_car_qacar</table>
                    </qacar>
                    <cardoc>
                        <table>bs_car_cardoc</table>
                    </cardoc>
                </entities>
            </bs_car_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <bs_car>
                    <file>bs_car.xml</file>
                </bs_car>
            </updates>
        </layout>
        <translate>
            <modules>
                <BS_Car>
                    <files>
                        <default>BS_Car.csv</default>
                    </files>
                </BS_Car>
            </modules>
        </translate>
        <global_search>
            <qacar>
                <class>bs_car/adminhtml_search_qacar</class>
                <acl>bs_car</acl>
            </qacar>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BS_Car before="Mage_Adminhtml">BS_Car_Adminhtml</BS_Car>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
