<?xml version="1.0"?>
<!--
/**
 * BS_Docwise extension
 * 
 * @category       BS
 * @package        BS_Docwise
 * @copyright      Copyright (c) 2015
 */
-->
<config>
    <modules>
        <BS_Docwise>
            <version>1.0.12</version>
        </BS_Docwise>
    </modules>
    <global>
        <resources>
            <bs_docwise_setup>
                <setup>
                    <module>BS_Docwise</module>
                    <class>BS_Docwise_Model_Resource_Setup</class>
                </setup>
            </bs_docwise_setup>
        </resources>
        <blocks>
            <bs_docwise>
                <class>BS_Docwise_Block</class>
            </bs_docwise>
        </blocks>
        <helpers>
            <bs_docwise>
                <class>BS_Docwise_Helper</class>
            </bs_docwise>
        </helpers>
        <models>
            <bs_docwise>
                <class>BS_Docwise_Model</class>
                <resourceModel>bs_docwise_resource</resourceModel>
            </bs_docwise>
            <bs_docwise_resource>
                <class>BS_Docwise_Model_Resource</class>
                <entities>
                    <score>
                        <table>bs_docwise_score</table>
                    </score>
                    <exam>
                        <table>bs_docwise_exam</table>
                    </exam>
                    <trainee>
                        <table>bs_docwise_trainee</table>
                    </trainee>
                    <examtrainee>
                        <table>bs_docwise_examtrainee</table>
                    </examtrainee>
                    <scores>
                        <table>bs_docwise_scores</table>
                    </scores>
                    <importtrainee>
                        <table>bs_docwise_importtrainee</table>
                    </importtrainee>
                    <inquiry>
                        <table>bs_docwise_inquiry</table>
                    </inquiry>
                    <docwisement>
                        <table>bs_docwise_docwisement</table>
                    </docwisement>
                    <exam_docwisement>
                        <table>bs_docwise_exam_docwisement</table>
                    </exam_docwisement>
                    <exam_filefolder>
                        <table>bs_docwise_exam_filefolder</table>
                    </exam_filefolder>

                </entities>
            </bs_docwise_resource>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <bs_docwise>
                        <class>BS_Docwise_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </bs_docwise>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <bs_docwise>
                    <file>bs_docwise.xml</file>
                </bs_docwise>
            </updates>
        </layout>
        <translate>
            <modules>
                <BS_Docwise>
                    <files>
                        <default>BS_Docwise.csv</default>
                    </files>
                </BS_Docwise>
            </modules>
        </translate>
        <events>
            <!--<core_block_abstract_prepare_layout_after>
                <observers>
                    <bs_docwise_exam_docwisement>
                        <type>singleton</type>
                        <class>bs_docwise/adminhtml_observer</class>
                        <method>addDocwisementExamBlock</method>
                    </bs_docwise_exam_docwisement>
                </observers>
            </core_block_abstract_prepare_layout_after>-->
            <bs_docwise_docwisement_save_after>
                <observers>
                    <bs_docwise_exam_docwisement>
                        <type>singleton</type>
                        <class>bs_docwise/adminhtml_observer</class>
                        <method>saveDocwisementExamData</method>
                    </bs_docwise_exam_docwisement>
                </observers>
            </bs_docwise_docwisement_save_after>
        </events>
        <!--<global_search>
            <exam>
                <class>bs_docwise/adminhtml_search_exam</class>
                <acl>bs_docwise</acl>
            </exam>
            <docwisement>
                <class>bs_docwise/adminhtml_search_docwisement</class>
                <acl>bs_docwise</acl>
            </docwisement>
            <trainee>
                <class>bs_docwise/adminhtml_search_trainee</class>
                <acl>bs_docwise</acl>
            </trainee>
            <examtrainee>
                <class>bs_docwise/adminhtml_search_examtrainee</class>
                <acl>bs_docwise</acl>
            </examtrainee>
        </global_search>-->
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BS_Docwise before="Mage_Adminhtml">BS_Docwise_Adminhtml</BS_Docwise>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <bs_docwise>
                <use>standard</use>
                <args>
                    <module>BS_Docwise</module>
                    <frontName>docwise</frontName>
                </args>
            </bs_docwise>
        </routers>
        <layout>
            <updates>
                <bs_docwise>
                    <file>bs_docwise.xml</file>
                </bs_docwise>
            </updates>
        </layout>
        <translate>
            <modules>
                <BS_Docwise>
                    <files>
                        <default>BS_Docwise.csv</default>
                    </files>
                </BS_Docwise>
            </modules>
        </translate>
    </frontend>
    <default>
        <bs_docwise>
            <inquiry>
                <breadcrumbs>1</breadcrumbs>
            </inquiry>
        </bs_docwise>
    </default>
</config>
