<?xml version="1.0"?>
<!--
/**
 * BS_KST extension
 * 
 * @category       BS
 * @package        BS_KST
 * @copyright      Copyright (c) 2015
 */
-->
<config>
    <modules>
        <BS_KST>
            <version>1.0.10</version>
        </BS_KST>
    </modules>
    <global>
        <resources>
            <bs_kst_setup>
                <setup>
                    <module>BS_KST</module>
                    <class>BS_KST_Model_Resource_Setup</class>
                </setup>
            </bs_kst_setup>
        </resources>
        <blocks>
            <bs_kst>
                <class>BS_KST_Block</class>
            </bs_kst>
        </blocks>
        <helpers>
            <bs_kst>
                <class>BS_KST_Helper</class>
            </bs_kst>
        </helpers>
        <models>
            <bs_kst>
                <class>BS_KST_Model</class>
                <resourceModel>bs_kst_resource</resourceModel>
            </bs_kst>
            <bs_kst_resource>
                <class>BS_KST_Model_Resource</class>
                <entities>
                    <kstsubject>
                        <table>bs_kst_kstsubject</table>
                    </kstsubject>
                    <kstitem>
                        <table>bs_kst_kstitem</table>
                    </kstitem>
                    <kstprogress>
                        <table>bs_kst_kstprogress</table>
                    </kstprogress>
                    <tfeedback>
                        <table>bs_kst_tfeedback</table>
                    </tfeedback>
                    <ifeedback>
                        <table>bs_kst_ifeedback</table>
                    </ifeedback>
                    <kstgroup>
                        <table>bs_kst_kstgroup</table>
                    </kstgroup>
                    <kstmember>
                        <table>bs_kst_kstmember</table>
                    </kstmember>
                </entities>
            </bs_kst_resource>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <bs_kst>
                        <class>BS_KST_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </bs_kst>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <bs_kst>
                    <file>bs_kst.xml</file>
                </bs_kst>
            </updates>
        </layout>
        <translate>
            <modules>
                <BS_KST>
                    <files>
                        <default>BS_KST.csv</default>
                    </files>
                </BS_KST>
            </modules>
        </translate>
        <global_search>
            <kstsubject>
                <class>bs_kst/adminhtml_search_kstsubject</class>
                <acl>bs_kst</acl>
            </kstsubject>
            <kstitem>
                <class>bs_kst/adminhtml_search_kstitem</class>
                <acl>bs_kst</acl>
            </kstitem>
            <kstprogress>
                <class>bs_kst/adminhtml_search_kstprogress</class>
                <acl>bs_kst</acl>
            </kstprogress>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BS_KST before="Mage_Adminhtml">BS_KST_Adminhtml</BS_KST>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <bs_kst>
                <use>standard</use>
                <args>
                    <module>BS_KST</module>
                    <frontName>bs_kst</frontName>
                </args>
            </bs_kst>
        </routers>
        <layout>
            <updates>
                <bs_kst>
                    <file>bs_kst.xml</file>
                </bs_kst>
            </updates>
        </layout>
        <translate>
            <modules>
                <BS_KST>
                    <files>
                        <default>BS_KST.csv</default>
                    </files>
                </BS_KST>
            </modules>
        </translate>
    </frontend>
    <default>
        <bs_kst>
            <kstsubject>
                <breadcrumbs>1</breadcrumbs>
            </kstsubject>
            <kstitem>
                <breadcrumbs>1</breadcrumbs>
            </kstitem>
            <kstprogress>
                <breadcrumbs>1</breadcrumbs>
            </kstprogress>
        </bs_kst>
    </default>
</config>
