<?xml version="1.0"?>
<!--
/**
 * BS_Register extension
 * 
 * @category       BS
 * @package        BS_Register
 * @copyright      Copyright (c) 2015
 */
-->
<config>
    <modules>
        <BS_Register>
            <version>1.0.6</version>
        </BS_Register>
    </modules>
    <global>
        <resources>
            <bs_register_setup>
                <setup>
                    <module>BS_Register</module>
                    <class>BS_Register_Model_Resource_Setup</class>
                </setup>
            </bs_register_setup>
        </resources>
        <blocks>
            <bs_register>
                <class>BS_Register_Block</class>
            </bs_register>
        </blocks>
        <helpers>
            <bs_register>
                <class>BS_Register_Helper</class>
            </bs_register>
        </helpers>
        <models>
            <bs_register>
                <class>BS_Register_Model</class>
                <resourceModel>bs_register_resource</resourceModel>
            </bs_register>
            <bs_register_resource>
                <class>BS_Register_Model_Resource</class>
                <entities>
                    <attendance>
                        <table>bs_register_attendance</table>
                    </attendance>
                    <schedule>
                        <table>bs_register_schedule</table>
                    </schedule>
                </entities>
            </bs_register_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <bs_register>
                    <file>bs_register.xml</file>
                </bs_register>
            </updates>
        </layout>
        <translate>
            <modules>
                <BS_Register>
                    <files>
                        <default>BS_Register.csv</default>
                    </files>
                </BS_Register>
            </modules>
        </translate>
        <events>
            <catalog_product_save_after>
                <observers>
                    <bs_schedule_product>
                        <type>singleton</type>
                        <class>bs_register/adminhtml_observer</class>
                        <method>saveSchedulePosition</method>
                    </bs_schedule_product>
                </observers>
            </catalog_product_save_after>
        </events>
        <!--<global_search>
            <attendance>
                <class>bs_register/adminhtml_search_attendance</class>
                <acl>bs_register</acl>
            </attendance>
            <schedule>
                <class>bs_register/adminhtml_search_schedule</class>
                <acl>bs_register</acl>
            </schedule>
        </global_search>-->
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BS_Register before="Mage_Adminhtml">BS_Register_Adminhtml</BS_Register>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <bs_register>
                <use>standard</use>
                <args>
                    <module>BS_Register</module>
                    <frontName>schedule</frontName>
                </args>
            </bs_register>
        </routers>
        <layout>
            <updates>
                <bs_register>
                    <file>bs_register.xml</file>
                </bs_register>
            </updates>
        </layout>
        <translate>
            <modules>
                <BS_Register>
                    <files>
                        <default>BS_Register.csv</default>
                    </files>
                </BS_Register>
            </modules>
        </translate>
    </frontend>
    <default>
        <bs_register>
            <schedule>
                <breadcrumbs>1</breadcrumbs>
            </schedule>
        </bs_register>
    </default>
</config>
